.wholeApp{
	display:flex;
	flex-direction: column;
	
}
.footer{
    height: 12%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;

}
.bottomIcon{
	border:.5px solid grey;
	background-color: #fdd247;
	border-top-right-radius: 14.5px;
    border-top-left-radius: 14.5px;
    padding: 3.5px 13px;
    color: #f5f7f8;
    text-shadow: 1px 1px 3px black;
    cursor: pointer;
    font-size: 2.5em;
    text-decoration: none;
    padding:3px 20px;
    height: 100%;
}

.bottomIcon:hover{
	background-color: #dbbe48;
}
.bottomIcon:active{
	background-color: #c09f36;
}
.content{
}
body{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: sans-serif;
	background:
    radial-gradient(
      #067faa, #4aa4c0
    );
	
}